@font-face {
  font-family: Aileron-Black;
  font-weight: bold;
  src: url("/Users/harshabeesai/Downloads/aileron_0102/Aileron-Black.otf")
    format("opentype");
}

@font-face {
  font-family: Aileron-Regular;
  font-weight: bold;
  src: url("/Users/harshabeesai/Downloads/aileron_0102/Aileron-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: KungFuMasterSpacedItalic-K7vLW;
  font-weight: bold;
  src: url("/Users/harshabeesai/Downloads/kung-fu-master-font/KungFuMasterSpacedItalic-K7vLW.otf")
    format("opentype");
}

body {
  background: linear-gradient(#bdc3c7, #2c3e50);
}

h1 {
  text-align: center;
  font-family: KungFuMasterSpacedItalic-K7vLW;
  font-size: 100px;
}
.anim1 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 100px;
  animation-name: hover1;
  animation-duration: 2s;
  animation-iteration-count: 2;
  margin-bottom: 75px;
  margin-left: 200px;
  margin-top: 150px;
}

.anim2 {
  height: 693px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 100px;
  animation-name: hover2;
  animation-duration: 2s;
  animation-iteration-count: 2;
  margin-bottom: 75px;
  margin-left: 800px;
  margin-top: 150px;
}

@keyframes hover2 {
  /*0% {
    margin-left: 800px;
  }

  50% {
    margin-left: 600px;
  }

  75% {
    margin-left: 400px;
  }*/

  100% {
    margin-left: 200px;
  }
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
